
@keyframes spaceInUp {
  0% {
    opacity: 0;
    transform-origin: 50% 0%;
    transform: scale(0.2) translate(0%, -200%); }
  100% {
    opacity: 1;
    transform-origin: 50% 0%;
    transform: scale(1) translate(0%, 0%); } }

:host(.image-uploader .c-preview-image) {
  display: block;

  animation-name: spaceInUp;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}



input[type="file"] {
  visibility: hidden;
  position: absolute;
  left: -1000px;
}

.c-upload-block {
  text-align: center;
  margin: 2rem 0;

  .c-button {
    margin: 3rem auto;
  }
}

.c-preview-image {
  display: block;
  text-align: center;
  margin: 0 auto;
  max-width: 500px;
  width: 40%;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
}