$button-color: #803DBB;
$button-color-positive: #515E0B;
$button-color-negative: #CD3B2C;

$main-text-color: #7C7065;
$main-header-color: #6D4C41;
$main-link-color: #579FE5;

$font-title: 'Sanchez', Arial, serif;
$font-helvetica: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Open Sans Local', Arial, sans-serif;
