.c-final-icon {
  display: block;
  text-align: center;
  margin: 3rem auto 2rem;

  .b-icon {
    display: block;
    margin: 0 auto;
    svg {
      width: 80px;
      height: 80px;
    }
  }

  .b-buttons {
    display: block;
    margin: 2rem auto 3rem;

    .c-button {
      display: inline-block;
      margin: 0.25rem;
    }
  }
}