<div class="c-final-icon" id="iconFace">

    <div
      *ngIf="person.isCorrect || (!person.isCorrect && !isWrong)"
      class="b-icon" >
      <icon-face
          *ngIf="person"
          [person]="person">
      </icon-face>
    </div>

    <div
      *ngIf="person.isCorrect || (!person.isCorrect && !isWrong)"
      class="b-description">
      <span *ngIf="person.sexToSting()"><strong>{{ person.sexToSting() }}</strong>, </span>
      <span *ngIf="person.type()" [innerHTML]="person.type()"></span>
    </div>

    <div
      *ngIf="!person.isCorrect && !isWrong"
      class="b-buttons">
      <button class="c-button m-positive" (click)="clickCorrect()">
        Correct
      </button>
      <button class="c-button m-negative" (click)="clickWrong()">
        Wrong
      </button>
    </div>

  <div
      class="b-buttons"
      *ngIf="person.isCorrect">
    <button class="c-button">
      Continue
    </button>
  </div>

  <div
    *ngIf="isWrong && !person.isCorrect">
    <select-icon
      [person]="person"
      [isWrong]="isWrong">
    </select-icon>
  </div>


  <result-block
      id="footer"
      *ngIf="person.isCorrect"
      [person]="person"
      [isStart]="isStart">
  </result-block>
</div>
<!--*ngIf="person.isCorrect"-->
