@-webkit-keyframes puffIn {
  0% {
    opacity: 0;
    -webkit-transform-origin: 50% 50%;
    -webkit-transform: scale(2,2);
    -webkit-filter: blur(2px);
  }

  100% {
    opacity: 1;
    -webkit-transform-origin: 50% 50%;
    -webkit-transform: scale(1,1);
    -webkit-filter: blur(0px);
  }
}
:host(.result-block) {
  display: block;

  animation-name: puffIn;
  animation-duration: 0.6s;
  animation-fill-mode: both;
}

.b-wrapper{
 // margin-bottom:20rem;
  display: block;
}

.c-offer {
  display: flex;
  text-align: center;
  margin: 1.5rem auto;

  .b-single-offer {
    display: block;
    width: 50%;

    .b-example {
      text-align: center;
      margin: 0 auto;
      height: 24px;
      line-height: 24px;
      font-size: 22px;
      font-weight: bold;

      svg {
        width: 24px;
        height: 24px;
      }
    }

    .c-text-block {
      margin-top: 1rem;
    }
  }

  &.m-block {
    display: block;
  }

  .b-basic-icons {
    display: block;
    svg {
      fill: #3273f2;
      display: inline-block;
      width: 64px;
      height: 64px;
      margin: 0.5rem;
    }
    .c-text-block {
      margin-top: 1rem;
    }
  }
}

.c-button {
  &.m-another-upload{
    margin-top: 4rem;
  }
}