:host(.result-block) {
  display: block;

  animation-name: puffIn;
  animation-duration: 1s;
  animation-fill-mode: both;
}
:host(.result-block.ng-enter) {
}
:host(.result-block.ng-enter-active) {
}

.c-offer {
  display: flex;
  text-align: center;
  margin: 1.5rem auto;

  .b-single-offer {
    display: block;
    width: 50%;

    .b-example {
      text-align: center;
      margin: 0 auto;
      height: 24px;
      line-height: 24px;
      font-size: 22px;
      font-weight: bold;

      svg {
        width: 24px;
        height: 24px;
      }
    }

    .c-text-block {
      margin-top: 1rem;
    }
  }

  &.m-block {
    display: block;
  }

  .b-basic-icons {
    display: block;
    svg {
      fill: #3273f2;
      display: inline-block;
      width: 64px;
      height: 64px;
      margin: 0.5rem;
    }
    .c-text-block {
      margin-top: 1rem;
    }
  }
}
